<!DOCTYPE html>

<head>
    <title>Don Container</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="container, modulo, habitable, modulo-habitable, container-habitable, casa, mendoza, argentina, contenedor">
    <meta name="description"
        content="Empresa de Mendoza dedicada a la venta y alquiler de containers y módulos habitacionales. Cotice su proyecto.">
    <meta name="author" content="Don Container">

    <link rel="icon" href="/static/img/donContainer.ico">
    <link rel="stylesheet" href="/static/css/donEstilo.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-221852527-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-221852527-1');
    </script>
</head>
<header>

    <div id="logo">
        <a href="index.html"><img data-src="/static/img/donContainerLogo.png" alt="" class="width 60px"></a>

        <div id="hamburger" onclick="myMenuMobile()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav>
        <ul id="menuDesktop">
            <a class="botones" href="index.html">Inicio</a>
            <a class="botones" href="productos.html">Productos</a>
            <a class="subBotones" href="moduloHabitacional.html">Modulo Hab</a>
            <a class="subBotones" href="containerHabitacional.html">Container Hab</a>
            <!--<a class="botones" href="inspirate.html">Inspirate</a>-->
            <!--<a class="botones" href="alquiler.html">Alquiler</a>-->
            <a class="botones" href="contactus.html">Contacto</a>
        </ul>
        <ul id="menuPhone">
            <a class="botones" href="index.html">Inicio</a>
            <a class="botones" href="productos.html">Productos</a>
            <a class="subBotones" href="moduloHabitacional.html">Modulo Hab</a>
            <a class="subBotones" href="containerHabitacional.html">Container Hab</a>
            <!--<a class="botones" href="inspirate.html">Inspirate</a>-->
            <!--<a class="botones" href="alquiler.html">Alquiler</a>-->
            <a class="botones" href="contactus.html">Contacto</a>
        </ul>
    </nav>
</header>

<body>
    <main>
        <div class="contacto">
            <div class="contactoDatos">
                <h3>Comunicate por whatsapp o email</h3>
                <ul>
                    <li> <a href="mailto:doncontainer@gmail.com"><img data-src="/static/img/emailBlack (2).png"
                                alt=""></a>
                        <p>doncontainer@gmail.com</p>
                    </li>
                    <li><a href="tel: +5492615172544"><img data-src="/static/img/whatsappBlack (2).png" alt=""></a>
                        <p>+549-261-5172544</p>
                    </li>
                </ul>
                <h3>Seguinos en las redes</h3>
                <ul>
                    <li><a href="https://www.facebook.com/Doncontainer19"><img
                                data-src="/static/img/facebookBlack (2).png" alt=""></a>
                        <p>/Doncontainer19</p>
                    </li>
                    <li> <a href=""><img data-src="/static/img/instagramBlack (2).png" alt=""></a>
                        <p>@DonContainer</p>
                    </li>
                </ul>
                <h3>O visitanos en nuestro taller</h3>
                <ul>
                    <li><a href=""><img data-src="/static/img/mapsBlack (2).png" alt=""></a>
                       <p> Ruta 16, Km 3,5 - Mendoza - Argentina<i>. Con cita previa.</i></p>
                        </li>
                </ul>
                
            </div>

            <iframe class="contactoGoogle"
                src="https://docs.google.com/forms/d/e/1FAIpQLSdMgBG4h-EUcH91nfGk82WOcPWlthyanndvRMliY5fMpopWdQ/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
        </div>


        <div class="frecuentes">
            <h3>Preguntas Frecuentes</h3>
            <div class="qa">
                <p class="ask">¿Envian a todo el país?</p>
                <p class="answer">Llevamos e instalamos tu proyecto a donde necesites.</p>
            </div>

            <div class="qa">
                <p class="ask">¿?</p>
                <p class="answer">of course! she is the super star malsmlskdosmlf slkjfes.</p>
            </div>
            <div class="qa">
                <p class="ask">¿Rocio es tonta?</p>
                <p class="answer">Si lo es.</p>
            </div>

            <div class="qa">
                <p class="ask">¿Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab sunt debitis aliquid
                    repellat!?</p>
                <p class="answer">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro beatae veritatis quas
                    at soluta libero a reiciendis ipsam! Repellat enim dignissimos quia earum aliquid possimus quibusdam
                    placeat.</p>
            </div>


        </div>

    </main>
</body>

<footer fragment="footer">
    <div class="footer-item"><img data-src="/static/img/logoOblanco.png" alt=""></div>
    <div class="footer-item">Somos una empresa familiar con más de 15 años de experiencia en el rubro de la
        construcción. Nos especializamos en crear soluciones integrales, pensadas desde la arquitectura, la
        comodidad y el deseo del cliente.
        Trabajamos de manera responsable y personalizada para garantizar que cada proyecto supere las expectativas.
        Esperamos conocerte.</div>
    <div class="footer-item">
        <a class="" href="index.html">Inicio</a>
        <!--<a class="" href="inspirate.html">Inspirate</a>-->
        <a class="" href="productos.html">Productos</a>
        <!--<a class="" href="alquiler.html">Alquiler</a>-->
        <a class="" href="contactus.html">Contacto</a>
    </div>
    <div class="footer-item">
        <div class="redes">
            <div>
                <a href="https://www.facebook.com/Doncontainer19"><img data-src="/static/img/facebookWhite (2).png"
                        alt=""></a>
                <p>/Doncontainer19</p>
            </div>
            <div>
                <a href=""><img data-src="/static/img/instagramWhite (2).png" alt=""></a>
                <p>@DonContainer</p>
            </div>
            <div>
                <a href="tel: +5492615172544"><img data-src="/static/img/whatsappWhite (2).png" alt=""></a>
                <p> +549 261 5172544</p>
            </div>
            <div>
                <a href="mailto:doncontainer@gmail.com"><img data-src="/static/img/emailWhite (3).png" alt=""></a>
                <p>doncontainer@gmail.com</p>
            </div>
            <div>
                <a href=""><img data-src="/static/img/mapsWhite (3).png" alt=""></a>
                <p>Argentina, Mendoza, Ruta 16, Km 3,5 </p>
            </div>
        </div>
    </div>
    </div>
</footer>
<script src="/static/js/forAll.js"></script>

</html>