<!DOCTYPE html>

<head>
    <title>Don Container</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="container, modulo, habitable, modulo-habitable, container-habitable, casa, mendoza, argentina, contenedor">
    <meta name="description"
        content="Empresa de Mendoza dedicada a la venta y alquiler de containers y módulos habitacionales. Cotice su proyecto.">
    <meta name="author" content="Don Container">

    <link rel="icon" href="/static/img/donContainer.ico">
    <link rel="stylesheet" href="/static/css/donEstilo.css">

    <!--For pagination-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-221852527-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-221852527-1');
    </script>
</head>
<header>

    <div id="logo">
        <a href="index.html"><img data-src="/static/img/donContainerLogo.png" alt="" class="width 60px"></a>

        <div id="hamburger" onclick="myMenuMobile()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav>
        <ul id="menuDesktop">
            <a class="botones" href="index.html">Inicio</a>
            <a class="botones" href="productos.html">Productos</a>
            <a class="subBotones" href="moduloHabitacional.html">Modulo Hab</a>
            <a class="subBotones" href="containerHabitacional.html">Container Hab</a>
            <!--<a class="botones" href="inspirate.html">Inspirate</a>-->
            <!--<a class="botones" href="alquiler.html">Alquiler</a>-->
            <a class="botones" href="contactus.html">Contacto</a>
        </ul>
        <ul id="menuPhone">
            <a class="botones" href="index.html">Inicio</a>
            <a class="botones" href="productos.html">Productos</a>
            <a class="subBotones" href="moduloHabitacional.html">Modulo Hab</a>
            <a class="subBotones" href="containerHabitacional.html">Container Hab</a>
            <!--<a class="botones" href="inspirate.html">Inspirate</a>-->
            <!--<a class="botones" href="alquiler.html">Alquiler</a>-->
            <a class="botones" href="contactus.html">Contacto</a>
        </ul>
    </nav>
</header>

<body>
    <main>
        <div class="containerProduct">
            <div class="cardProduct-content">


                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/juninNaranja-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/juninNaranja-2.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>CASA CON TERRAZA</h3>
                        <p> A pedido de su propietarios, Marina y Tom, construimos una casa en base a un container de 40
                            pies para
                            ser colocado en una finca en Junín, Mendoza.
                            <br><br>
                            La propiedad cuenta con dos habitaciones, baño completo y cocina-comedor. Además de una
                            terraza a lo largo de todo el container
                            a la cual se accede a través de una escalera anexada a la estructura.
                        </p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/barKcr-2.png" alt="">
                        <img class="photos" data-src="/static/img/photo/barKcr-1.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>CANCHAS DE PADDEL</h3>                        
                        <p>Los propietarios de este proyecto están en construcción de unas canchas de paddel y para las
                            mismas estamos realizando
                            un container baño y uno cantina.
                        <h5>Cantina</h5>La cantina cuenta con sector pensado para heladeras, portigones para atención al público con barra incluida en la 
                        parte exterior y un cambiador. Además se anexará una escalera para la creación de una terraza y la estructura para colocar las gradas.
                        <h5>Baños</h5>Los sanitarios cuentan con un sector de 3 duchas; un baño masculino con dos posiciones de inodoro, dos de mijitorios y lavamanos;
                         uno femenino con dos posiciones de inodoro, una ducha y lavamanos y un sanitario para personas con discapacidades motrices.
                        </p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/casaCheti-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/casaCheti-3.png" alt="">
                        <img class="photos" data-src="/static/img/photo/casaCheti-4.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>CASA PARA FINCA</h3>
                        <p> A pedido de su propietario, se creó una casa en base a un container, la misma cuenta con una
                            baño completo, cocina-comedor,
                            una habitación y un depósito.
                        </p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/sanCarlos-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/sanCarlos-2.png" alt="">
                        <img class="photos" data-src="/static/img/photo/sanCarlos-3.png" alt="">
                        <img class="photos" data-src="/static/img/photo/sanCarlos-4.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>PUNTO TURÍSTICO</h3>
                        <p>Se instaló un container habitacional pedido por el municipio de San Carlos, preparado como
                            punto
                            de atención turística en Huayquerías o Cañón de la Salada. El cual incluye baños femenino y
                            masculino.
                        </p>
                        <!--
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13262.234556874531!2d-68.941315!3d-33.797894!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8aa4f075a48b9663!2sLas%20Huayquerias!5e0!3m2!1ses-419!2sar!4v1645469600278!5m2!1ses-419!2sar"
                            width="300" height="200" frameborder="0" style="border:0;" allowfullscreen
                            aria-hidden="false" tabindex="0">
                        </iframe>-->
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/parqueRiveraLujan-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/parqueRiveraLujan-2.png" alt="">
                        <img class="photos" data-src="/static/img/photo/parqueRiveraLujan-3.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>PARQUE RIBERA</h3>
                        <p><h5>Baños</h5>Se armaron baños públicos para la Plaza de los Niños en el Parque Ribera de Luján de Cuyo.
                        </p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/aconcagua-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/aconcagua-2.png" alt="">
                        <img class="photos" data-src="/static/img/photo/aconcagua-3.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>BASE DEL ACONCAGUA</h3>
                        <p>En alta montaña instalamos diversos containers habitacionales, para uso de
                            guardaparques.
                            En la laguna de Horcones hay 3, uno acondicionado como cocina y otros 2 como habitaciones,
                            uno de ellos con baño incluido. Y en punta de Vacas hay 2 containers, preparados como
                            oficinas con baño y cocina incluidos.
                        </p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-info">
                        <h3>LUJÁN PLAYA</h3>
                        <p>Se instalaron containers en el balneario ubicado sobre margen del río
                            Mendoza en la Ruta Provincial N°82.
                            <br><br>
                            Uno acondicionado como enfermería del lugar y el otro como oficina de tesorería ambos
                            incluyen kitchenette y baño.
                        </p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-info">
                        <div class="cardProduct-image cardSlide" data-cycle="3000">
                            <img class="photos" data-src="/static/img/photo/agroquimicos-1.png" alt="">
                            <img class="photos" data-src="/static/img/photo/agroquimicos-2.png" alt="">
                            <img class="photos" data-src="/static/img/photo/agroquimicos-3.png" alt="">
                        </div>
                        <h3>DEPÓSITO DE AGROQUÍMICOS</h3>
                        <p>Se realizó la adaptación de un container reefer como almacenamiento de
                            agroquímicos siguiendo los requerimientos de ISCAMEN y normas CASAFE.
                            <br><br>
                            El mismo fue preparado con un tratamiento ignífugo y cuenta con sistema de alarma y
                            detectores de humo autónomos, sistema especial de ventilación y salidas de emergencia.
                        </p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image">
                        <img data-src="/static/img/photo/lilla-1.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>LILLA PEYU</h3>
                        <p>Se acondicionaroon containers para aulas de jardín, maternal con baño pediátrico integrado
                            para la escuela Lilla Peyu en Guaymallén. La obra fue pensada como guardería y jardín de
                            infantes para los hijos de los trabajadores de la feria de Guaymallén.
                        </p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-info">
                        <h3>PLAYA VIAL LUJÁN DE CUYO</h3>
                        <p>Se acondicionó un container como habitación para el servicio de oficina vial.
                        </p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-info">
                        <h3>SAMACO</h3>
                        <p>Un módulo habitacional requerido por la empresa como oficina administrativa. El
                            mismo cuenta con aislación y calefacción frío/calor.</p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-info">
                        <h3>AGRINET</h3>
                        <p>Se colocaron tres containers en Agrinet; utilizados como
                            depósitos, uno fue especialmente preparado para el departamento de electrónica de la
                            empresa, por lo cual no solo contaba con aire frío/calor sino que también con una
                            distribución de
                            tomas requerida para el servicio del departamento.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="pagination">
            <li class="page-item previous-page disable"><a class="page-link" href="#">◄</a></li>
            <li class="page-item current-page active"><a class="page-link" href="#">1</a></li>
            <li class="page-item dots"><a class="page-link" href="#">...</a></li>
            <li class="page-item current-page"><a class="page-link" href="#">5</a></li>
            <li class="page-item current-page"><a class="page-link" href="#">6</a></li>
            <li class="page-item dots"><a class="page-link" href="#">...</a></li>
            <li class="page-item current-page"><a class="page-link" href="#">10</a></li>
            <li class="page-item next-page"><a class="page-link" href="#">►</a></li>
        </div>
    </main>
</body>

<footer fragment="footer">
    <div class="footer-item"><img data-src="/static/img/logoOblanco.png" alt=""></div>
    <div class="footer-item">Somos una empresa familiar con más de 15 años de experiencia en el rubro de la
        construcción. Nos especializamos en crear soluciones integrales, pensadas desde la arquitectura, la
        comodidad y el deseo del cliente.
        Trabajamos de manera responsable y personalizada para garantizar que cada proyecto supere las expectativas.
        Esperamos conocerte.</div>
    <div class="footer-item">
        <a class="" href="index.html">Inicio</a>
        <!--<a class="" href="inspirate.html">Inspirate</a>-->
        <a class="" href="productos.html">Productos</a>
        <!--<a class="" href="alquiler.html">Alquiler</a>-->
        <a class="" href="contactus.html">Contacto</a>
    </div>
    <div class="footer-item">
        <div class="redes">
            <div>
                <a href="https://www.facebook.com/Doncontainer19"><img data-src="/static/img/facebookWhite (2).png"
                        alt=""></a>
                <p>/Doncontainer19</p>
            </div>
            <div>
                <a href=""><img data-src="/static/img/instagramWhite (2).png" alt=""></a>
                <p>@DonContainer</p>
            </div>
            <div>
                <a href="tel: +5492615172544"><img data-src="/static/img/whatsappWhite (2).png" alt=""></a>
                <p> +549 261 5172544</p>
            </div>
            <div>
                <a href="mailto:doncontainer@gmail.com"><img data-src="/static/img/emailWhite (3).png" alt=""></a>
                <p>doncontainer@gmail.com</p>
            </div>
            <div>
                <a href=""><img data-src="/static/img/mapsWhite (3).png" alt=""></a>
                <p>Argentina, Mendoza, Ruta 16, Km 3,5 </p>
            </div>
        </div>
    </div>
    </div>
</footer>
<script src="/static/js/forAll.js"></script>
<script src="/static/js/pagination.js"></script>

</html>