<!DOCTYPE html>

<head>
    <title>Don Container</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="container, modulo, habitable, modulo-habitable, container-habitable, casa, mendoza, argentina, contenedor">
    <meta name="description"
        content="Empresa de Mendoza dedicada a la venta y alquiler de containers y módulos habitacionales. Cotice su proyecto.">
    <meta name="author" content="Don Container">

    <link rel="icon" href="/static/img/donContainer.ico">
    <link rel="stylesheet" href="/static/css/donEstilo.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-221852527-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-221852527-1');
    </script>
</head>

<header>

    <div id="logo">
        <a href="index.html"><img data-src="/static/img/donContainerLogo.png" alt="" class="width 60px"></a>

        <div id="hamburger" onclick="myMenuMobile()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav>
        <ul id="menuDesktop">
            <a class="botones" href="index.html">Inicio</a>
            <a class="botones" href="productos.html">Productos</a>
            <a class="subBotones" href="moduloHabitacional.html">Modulo Hab</a>
            <a class="subBotones" href="containerHabitacional.html">Container Hab</a>
            <!--<a class="botones" href="inspirate.html">Inspirate</a>-->
            <!--<a class="botones" href="alquiler.html">Alquiler</a>-->
            <a class="botones" href="contactus.html">Contacto</a>
        </ul>
        <ul id="menuPhone">
            <a class="botones" href="index.html">Inicio</a>
            <a class="botones" href="productos.html">Productos</a>
            <a class="subBotones" href="moduloHabitacional.html">Modulo Hab</a>
            <a class="subBotones" href="containerHabitacional.html">Container Hab</a>
            <!--<a class="botones" href="inspirate.html">Inspirate</a>-->
            <!--<a class="botones" href="alquiler.html">Alquiler</a>-->
            <a class="botones" href="contactus.html">Contacto</a>
        </ul>
    </nav>
</header>

<body>
    <main>
        <div class="serviciosIndex">
            <p class="titulo">SERVICIOS</p>
            <p class="bajada">
                Definimos el proyecto con vos, vemos detalles de interior y exteriorlo ejecutamos,
                ejecutamos, trasladamos e instalamos, dejamos conectado cloaca y luz, en funcionamiento... y a
                disfrutar!
                Ver condiciones...</p>
            <ul>
                <li>
                    <img data-src="/static/img/servicios1.png" alt="">
                    <p class="subtitulo">Proyecto</p>
                </li>
                <li>
                    <img data-src="/static/img/servicios2.png" alt="">
                    <p class="subtitulo">Ejecución</p>
                </li>
                <li>
                    <img data-src="/static/img/servicios3.png" alt="">
                    <p class="subtitulo">Traslado</p>
                </li>
                <li>
                    <img data-src="/static/img/servicios4.png" alt="">
                    <p class="subtitulo">Instalación</p>
                </li>
            </ul>
        </div>

        <div class="slideIndex">
            <div class="slide">
                <img class="mySlides" data-src="/static/img/photo/indexSlide-6.png">
                <img class="mySlides" data-src="/static/img/photo/indexSlide-2.png">
                <img class="mySlides" data-src="/static/img/photo/indexSlide-1.png">
                <img class="mySlides" data-src="/static/img/photo/indexSlide-4.png">
                <img class="mySlides" data-src="/static/img/photo/indexSlide-3.png">
                <img class="mySlides" data-src="/static/img/photo/indexSlide-5.png">
            </div>
        </div>
        <div></div>

        <div class="ventajasIndex">
            <ul class="ventajasText">
                <p class="titulo">VENTAJAS</p>
                <p class="bajada">Tanto los módulos como los containers presentan (nuestros productos presentan)
                    millones de ventajas.Son una solucón rápida, eficaz y (la mejor relación costo-beneficio)de bajo
                    costo.
                    Responden a cualquier desafío arquitectonico, se adaptan a varios usos, permiten flexibilidad y
                    personalización.
                    Presentan la ventaja de trasladarte con tu espacio a donde quieras!
                </p>
            </ul>
            <ul class="ventajasMedio">
                <li class="subtitulo">✓ Rápida ejecución</li>
                <li class="subtitulo">✓ Costos reducidos</li>
                <li class="subtitulo">✓ Antisísmico</li>
                <li class="subtitulo">✓ Aislación térmica</li>
            </ul>
            <ul>
                <li class="subtitulo">✓ Materiales nobles</li>
                <li class="subtitulo">✓ Ultra personalización</li>
                <li class="subtitulo">✓ Inerte al paso del tiempo</li>
                <li class="subtitulo">✓ Reubicación de bajo costo</li>
            </ul>
        </div>
<!--
        <div class="realizadosIndex">
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <div class="cardsContainer">
                <div class="myCards">
                    <div class="cardImg">
                        <img data-src="/static/img/photo/aconcagua-1.png" alt="">
                    </div>
                    <div class="cardText">
                        <h3>QUINCHO</h3>
                        <p>Descripcion Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio cumque ipsa ut
                            quas.
                            Error id enim ducimus, porro eos corporis. Lorem ipsum dolor, sit amet consectetur
                            adipisicing
                            elit. Suscipit enim impedit autem animi nobis architecto explicabo amet, temporibus
                            quaerat
                            aliquid.</p>
                    </div>
                </div>

                <div class="myCards">
                    <div class="cardImg">
                        <img data-src="/static/img/photo/aconcagua-2.png" alt="">
                    </div>
                    <div class="cardText">
                        <h3>Casa</h3>
                        <p>Descripcion Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio cumque ipsa ut
                            Error id enim ducimus, porro eos corporis. Lorem ipsum dolor, sit amet consectetur
                            adipisicing
                            elit.scipit enim impedit autem animi nobis architecto explicabo amet, temporibus
                            quaerat
                            aliquid.
                        </p>
                    </div>
                </div>
                <div class="myCards">
                    <div class="cardImg">
                        <img data-src="/static/img/photo/aconcagua-2.png" alt="">
                    </div>
                    <div class="cardText">
                        <h3>Hola</h3>
                        <p>Descripcion Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio cumque ipsa ut
                            Error id enim ducimus, porro eos corporis. Lorem ipsum dolor, sit amet consectetur
                            a
                            elit. Suscipit enim impedit autem animi nobis architecto explicabo amet, temporibus
                            quaerat
                            aliquid.
                        </p>
                    </div>
                </div>
            </div>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        -->
    </main>
</body>

<footer>
    <div class="footer-item"><img data-src="/static/img/logoOblanco.png" alt=""></div>
    <div class="footer-item">Somos una empresa familiar con más de 15 años de experiencia en el rubro de la
        construcción. Nos especializamos en crear soluciones integrales, pensadas desde la arquitectura, la
        comodidad y el deseo del cliente.
        Trabajamos de manera responsable y personalizada para garantizar que cada proyecto supere las expectativas.
        Esperamos conocerte.</div>
    <div class="footer-item">
        <a class="" href="index.html">Inicio</a>
        <!--<a class="" href="inspirate.html">Inspirate</a>-->
        <a class="" href="productos.html">Productos</a>
        <!--<a class="" href="alquiler.html">Alquiler</a>-->
        <a class="" href="contactus.html">Contacto</a>
    </div>
    <div class="footer-item">
        <div class="redes">
            <div>
                <a href="https://www.facebook.com/Doncontainer19"><img data-src="/static/img/facebookWhite (2).png"
                        alt=""></a>
                <p>/Doncontainer19</p>
            </div>
            <div>
                <a href=""><img data-src="/static/img/instagramWhite (2).png" alt=""></a>
                <p>@DonContainer</p>
            </div>
            <div>
                <a href="tel: +5492615172544"><img data-src="/static/img/whatsappWhite (2).png" alt=""></a>
                <p> +549 261 5172544</p>
            </div>
            <div>
                <a href="mailto:doncontainer@gmail.com"><img data-src="/static/img/emailWhite (3).png" alt=""></a>
                <p>doncontainer@gmail.com</p>
            </div>
            <div>
                <a href=""><img data-src="/static/img/mapsWhite (3).png" alt=""></a>
                <p>Argentina, Mendoza, Ruta 16, Km 3,5 </p>
            </div>
        </div>
    </div>
</footer>
<script src="/static/js/forAll.js"></script>

</html>