<!DOCTYPE html>

<head>
    <title>Don Container</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="container, modulo, habitable, modulo-habitable, container-habitable, casa, mendoza, argentina, contenedor">
    <meta name="description"
        content="Empresa de Mendoza dedicada a la venta y alquiler de containers y módulos habitacionales. Cotice su proyecto.">
    <meta name="author" content="Don Container">

    <link rel="icon" href="/static/img/donContainer.ico">
    <link rel="stylesheet" href="/static/css/donEstilo.css">
   
</head>

<header>

    <div id="logo">
        <a href="index.html"><img src="/static/img/donContainerLogo.png" alt="" class="width 60px"></a>


        <div id="hamburger" onclick="myMenuMobile()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav>
        <ul id="menuPhone">
            <a class="botones" href="index.html">Inicio</a>
            <a class="botones" href="productos.html">Productos</a>
            <a class="subBotones" href="moduloHabitacional.html">Modulo Hab</a>
            <a class="subBotones" href="containerHabitacional.html">Container Hab</a>
            <!--<a class="botones" href="inspirate.html">Inspirate</a>-->
            <!--<a class="botones" href="alquiler.html">Alquiler</a>-->
            <a class="botones" href="contactus.html">Contacto</a>
        </ul>
    </nav>
</header>

<body>
    
    <main>
        
        <div class="inspirate">
            <p class="subtitulo">Contrucción Inteligente</p>
            <p class="bajada">CONSTRUCCION MODULAR</p>
            <div class="inspirateText">
                <p>
                    Una solución rápida, eficaz y adaptable con la que podes crear el proyecto que necesites. Casas,
                    oficinas, escuelas, hospitales, hoteles o lo que pida tu imaginación.<br>
                    Gracias a esta técnica
                    podes armar, desarmar, ampliar facilmente o mudarte sin problemas. Resistentes al paso del tiempo,
                    con fantástica aislación y antisismicos.<br>
                    Al producto lo realizamos en taller y lo dejamos instalado listo para lsu uso, es habitat al
                    instante.
                </p>
                <img class="inspirateImg" src="/static/img/IMG_20210506_114529.jpg" alt="">
            </div>

            <div class="presentamos">
                <div>
                    <div class="subtitulo">Te presentamos nuestros modulos </div>
                    <img src="/static/img/IMG-20201205-WA0001.jpg" alt="" class="presentamosImg">
                </div>
                <div>
                    <p>_ Estructura de acero, con paneles tipo sandwich, doble cara de chapa pintada con núcleo de
                        proliuterano expandido.<br>
                        _ La terminación exterior como interior puede ser con color de panel a elección, siding,
                        revestimiento o pintura.<br>
                        _Carpintería de aluminio a medida.<br>
                        _Iluminación embutida o a vista.<br>
                        _Conexiones de agua y cloaca.<br>
                        _Muebles de cocina a medida.<br>
                        _Tamaños estándar de 3x6 y multiplos o a medida.
                    </p>
                </div>
            </div>

            <div class="metros">
                <img src="/static/img/36m2.png" alt="" class="metrosC">
                <div class="slideI">
                    <img class="mySlides" src="/static/img/36m2Fotos.png">
                    <img class="mySlides" src="/static/img/36m2Fotos.png">
                </div>
            </div>


        </div>
    </main>
    <footer fragment="footer">
        <div class="footer-item"><img src="/static/img/logoOblanco.png" alt=""></div>
        <div class="footer-item">Somos una empresa familiar con más de 15 años de experiencia en el rubro de la
            construcción. Nos especializamos en crear soluciones integrales, pensadas desde la arquitectura, la
            comodidad y el deseo del cliente.
            Trabajamos de manera responsable y personalizada para garantizar que cada proyecto supere las expectativas.
            Esperamos conocerte.</div>
            <div class="footer-item">
                <a class="" href="index.html">Inicio</a>
                <!--<a class="" href="inspirate.html">Inspirate</a>-->
                <a class="" href="productos.html">Productos</a>
                <!--<a class="" href="alquiler.html">Alquiler</a>-->
                <a class="" href="contactus.html">Contacto</a>
            </div>
        <div class="footer-item">
            <div class="redes">
                <div>
                    <a href="https://www.facebook.com/Doncontainer19"><img src="/static/img/facebookWhite (2).png" alt=""></a>
                    <p>/Doncontainer19</p>
                </div>
                <div>
                    <a href=""><img src="/static/img/instagramWhite (2).png" alt=""></a>
                    <p>@DonContainer</p>
                </div>
                <div>
                    <a href="tel: +5492615172544"><img src="/static/img/whatsappWhite (2).png" alt=""></a>
                    <p> +549 261 5172544</p>
                </div>
                <div>
                    <a href="mailto:doncontainer@gmail.com"><img src="/static/img/emailWhite (3).png" alt=""></a>
                    <p>doncontainer@gmail.com</p>
                </div>
                <div>
                    <a href=""><img src="/static/img/mapsWhite (3).png" alt=""></a>
                    <p>Argentina, Mendoza, Ruta 16, Km 3,5 </p>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <script src="/static/js/donContainer.js"></script>
    
    </html>