<!DOCTYPE html>

<head>
    <title>Don Container</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="container, módulo, habitable, módulo-habitable, container-habitable, casa, mendoza, argentina, contenedor">
    <meta name="description"
        content="Empresa de Mendoza dedicada a la venta y alquiler de containers y módulos habitacionales. Cotice su proyecto.">
    <meta name="author" content="Don Container">

    <link rel="icon" href="/static/img/donContainer.ico">
    <link rel="stylesheet" href="/static/css/donEstilo.css">

    <!--For pagination-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-221852527-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-221852527-1');
    </script>
</head>

<header>

    <div id="logo">
        <a href="index.html"><img data-src="/static/img/donContainerLogo.png" alt="" class="width 60px"></a>

        <div id="hamburger" onclick="myMenuMobile()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav>
        <ul id="menuDesktop">
            <a class="botones" href="index.html">Inicio</a>
            <a class="botones" href="productos.html">Productos</a>
            <a class="subBotones" href="moduloHabitacional.html">Modulo Hab</a>
            <a class="subBotones" href="containerHabitacional.html">Container Hab</a>
            <!--<a class="botones" href="inspirate.html">Inspirate</a>-->
            <!--<a class="botones" href="alquiler.html">Alquiler</a>-->
            <a class="botones" href="contactus.html">Contacto</a>
        </ul>
        <ul id="menuPhone">
            <a class="botones" href="index.html">Inicio</a>
            <a class="botones" href="productos.html">Productos</a>
            <a class="subBotones" href="moduloHabitacional.html">Modulo Hab</a>
            <a class="subBotones" href="containerHabitacional.html">Container Hab</a>
            <!--<a class="botones" href="inspirate.html">Inspirate</a>-->
            <!--<a class="botones" href="alquiler.html">Alquiler</a>-->
            <a class="botones" href="contactus.html">Contacto</a>
        </ul>
    </nav>
</header>

<body>
    <main>

        <div class="containerProduct">
            <div class="cardProduct-content">


                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/aconcagua22-4.png" alt="">
                        <img class="photos" data-src="/static/img/photo/aconcagua22-2" alt="">
                        <img class="photos" data-src="/static/img/photo/aconcagua22-3.png" alt="">
                        <img class="photos" data-src="/static/img/photo/aconcagua22-5.png" alt="">
                        <img class="photos" data-src="/static/img/photo/aconcagua22-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/aconcagua22-6.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>GUARDAPARQUES</h3>
                        <p>Nuevamente realizamos módulos de alta montaña de 3x6mts adaptados para las extremas
                            temperaturas del lugar, los vientos fuertes,
                            la acumulación de nieve y las posibles tempestades que se presentan en la Cordillera.
                            El diseño de los mismos es un revestimiento continuo que impide las filtraciones y la
                            construcción en gajos machihembrados permiten la transportación en helicoptero. <br>
                        <h5>Quebrada de Matiezo</h5>El primero de ellos fue transportado en helicoptero hasta el lugar y
                        dispuesto como oficina de control de
                        guardaparques.
                        <br><br>
                        <h5>Base del Aconcagua</h5>El segundo de ellos se colocó en el ingreso al Parque Aconcagua,
                        con la intención de transportarlo en la
                        próxima temporada a alguno de los campamentos existentes.
                        <br><br>
                        <h5>Vallecitos</h5>El tercer módulo se ensamblara en Vallecitos como punto de control de
                        guardaparque para las cumbres cercanas.</p>
                    </div>
                </div>


                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/carillo22-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/carillo22-3.png" alt="">
                        <img class="photos" data-src="/static/img/photo/carillo22-4.png" alt="">
                        <img class="photos" data-src="/static/img/photo/carillo22-5.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>HOSPITAL CARILLO</h3>
                        <p>Realizamos la instalación de un módulo de 6x9mts, el cuál fue anexado al hospital
                            teniendo un accceso directo. Cuenta con
                            tres consultorios, un zoom y una sala de espera.
                        </p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/crucesita-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/crucesita-2.png" alt="">
                        <img class="photos" data-src="/static/img/photo/crucesita-3.png" alt="">
                        <img class="photos" data-src="/static/img/photo/crucesita-4.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>QUINCHO EN LA CRUCESITA</h3>
                        <p>A pedido de Pablo, su propietario, armamos, trasladomos e instalamso un
                            módulo de 3x6mts destinado para un quincho en los Altos de la Crucesita. El mismo cuenta
                            con baño y
                            kitchenette.
                            <br><br>
                            En el futuro el propietario habilitará la terraza y una piscina anexada.
                        </p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/nottiExterior-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/nottiExterior-2.png" alt="">
                        <img class="photos" data-src="/static/img/photo/nottiExterior-3.png" alt="">
                        <img class="photos" data-src="/static/img/photo/nottiExterior-4.png" alt="">
                        <img class="photos" data-src="/static/img/photo/nottiExterior-5.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>HOSPITAL NOTTI</h3>
                        <h5>Consultorios Exteriores</h5>
                        <p>Se armaron 3 consultorios médicos para el Hospital Notti destinados a la guardia
                            exterior.<br><br>
                            Además se realizó un módulo de baños de 3x6mts, que cuenta con sanitario femenino, con tres
                            posiciones de inodoro y sanitario masculino con una posición de inodoro y tres
                            mingitorios.
                        </p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/nottiTriage-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/nottiTriage-2.png" alt="">
                        <img class="photos" data-src="/static/img/photo/nottiTriage-3.png" alt="">
                        <img class="photos" data-src="/static/img/photo/nottiTriage-4.png" alt="">
                        <img class="photos" data-src="/static/img/photo/nottiTriage-5.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>HOSPITAL NOTTI</h3>
                        <h5>Triage Respiratorio</h5>
                        <p>En plena emergencia sanitaria se realizó un módulo para el Hospital pediátrico Humberto
                            Notti, destinado
                            para pacientes con COVID-19.
                            <br><br>
                            El mismo es de un tamaño de 60m2, con consultorios de 3x3mts y 3x4mts, sala de espera,
                            ante-baño público y un baño para el personal.
                        </p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/saporitti22-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/saporitti22-2.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>HOSPITAL SAPORITTI</h3>
                        <p>Realizamos un módulo de 3x6mts destinado a Salud Mental del Hospital. El mismo está
                            dividido en dos consultorios con
                            un baño interno.</p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/cabanaSoledad-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/cabanaSoledad-2.png" alt="">
                        <img class="photos" data-src="/static/img/photo/cabanaSoledad-3.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>CABAÑAS SOLEDAD</h3>
                        <p>Armamos dos cabañas modulares de 3x6mts para el complejo turístico Cabañas Soledad de
                            Potrerillos.
                            Cada una cuenta con una habitación con cocina y un baño, revestidas con un siding
                            simil madera.
                            <br><br>
                            Las misma fueron colocadas en altura para aprovechar la vista del lugar y para utilizar
                            el inferior como coheras.
                        </p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/laJaula-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/laJaula-2.png" alt="">
                        <img class="photos" data-src="/static/img/photo/laJaula-3.png" alt="">
                        <img class="photos" data-src="/static/img/photo/laJaula-4.png" alt="">
                        <img class="photos" data-src="/static/img/photo/laJaula-5.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>LA JAULA</h3>
                        <h5>Posta Sanitaria</h5>
                        <p>En 2019 realizamos la instalación de un módulo habitacional en la Escuela Albergue
                            “Yapeyú” Nº 8-593 ubicado en La Jaula, San Carlos, Mendoza.
                            <br><br>
                            Se trata de la primera posta sanitaria del paraje rural. El mismo contó con tres
                            ambientes, un consultorio médico, una sala de enfermería y una sala de espera. Además el
                            módulo incluye baño, kitchenette, calefacción e iluminación.
                            <br><br>
                            Esta posta sanitaria está a disposición de la comunidad de La Jaula cuyo paraje se
                            encuentra al pie de la cordillera de los Andes, donde enfrenta condiciones climáticas
                            adversas, a 110km del asfalto y no cuenta con conexión eléctrica.
                        </p>
                        <div class="link">
                            <p>NOTICIAS</p>
                            <span>
                                <a class="link"
                                    href="https://www.mendoza.gov.ar/prensa/junto-al-gobernador-la-comunidad-de-la-jaula-celebro-la-apertura-de-su-posta-sanitaria/">
                                    1</a></span>
                            <span>
                                <a class="link"
                                    href="https://www.elcucodigital.com/el-lunes-sera-inaugurada-la-primera-posta-sanitaria-de-la-jaula-en-san-carlos-asistira-cornejo/">2</a></span>
                        </div>
                        <!--  <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.5975046496405!2d-69.32045788491799!3d-34.66486648044367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967bb7203b7dc405%3A0x86dffb1841aea9d7!2sPosta%20Sanitaria%20N%C2%B0%20568%20%22La%20Jaula%22%2C%20San%20Carlos%2C%20Mendoza!5e0!3m2!1ses-419!2sar!4v1604702143990!5m2!1ses-419!2sar"
                                width="300" height="200" frameborder="0" style="border:0;" allowfullscreen
                                aria-hidden="false" tabindex="0"></iframe>-->
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/almafuerte-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/almafuerte-2.png" alt="">
                        <img class="photos" data-src="/static/img/photo/almafuerte-3.png" alt="">
                        <img class="photos" data-src="/static/img/photo/almafuerte-4.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>ALMA FUERTE</h3>
                        <p>La obra en la penitenciaría Almafuerte, ubicada en Cacheuta, Luján de Cuyo fue realizada
                            en los año 2018 y 2019, inaugurada por las autoridades del Ministerio de Seguridad y del
                            Servicio Penitenciario Provincial.
                            <br><br>
                            Dispuestas para el cursado de estudios primarios y universitarios de los internos de
                            manera presencial.
                            <br><br>
                            La obra se realizó en dos etapas, en la primera se construyeron 3 aulas en base modular
                            de 6x6mts para el uso universitario, que cuentan con especificaciones puntuales para el
                            uso presidiario. Montadas una al lado de la otra.
                            <br>
                            En la segunda etapa se añadieron 4 aulas de 3x6mts, que se anexaron a las de universidad.
                            Por otro lado se instalaron aulas para el cursado de nivel primario, secundario y otros
                            cursos, de tamaño 3x6mts con baño incluido. Por último se instaló una unidad en la parte de
                            máxima
                            seguridad.
                        </p>
                        <div class="link">
                            <p>NOTICIAS</p>
                            <span>
                                <a
                                    href="https://www.uncuyo.edu.ar/articulacionsocial/comenzo-un-nuevo-ciclo-de-peuce-en-almafuerte">1</a></span>
                            <span> <a
                                    href="https://www.mendoza.gov.ar/penitenciaria/noticias-penitenciarias-old/almafuerte-tendra-8-nuevos-modulos-escolares-para-internos/">
                                    2</a></span>
                        </div>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/elInfanto-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/elInfanto-2.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>EL INFANTO</h3>
                        <p>Realizamos la instalación de un módulo para "El infanto", centro preventivo y
                            asistencial en salud mental, ubicado en Rodeo del Medio, Maipú, Mendoza.
                            <br><br>
                            Se trata de dos consultorios destinados a atención psicológica-médica. Equipados
                            con aire frío/calor, ventilación, iluminación con modular divisorio y un espacio para
                            uso de oficina. Para la instalación se precisó de una grúa de 50 toneladas.
                        </p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/laggomagiore-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/laggomagiore-2.png" alt="">
                        <img class="photos" data-src="/static/img/photo/laggomagiore-3.png" alt="">
                        <img class="photos" data-src="/static/img/photo/laggomagiore-4.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>HOSPITAL LAGOMAGGIORE</h3>
                        <p>La obra en el Hospital Luis Lagomaggiore fue realizada en vista de la construcción
                            del nuevo edificio destinado a maternidad, por lo que era necesario desplazar oficinas
                            administrativas y archivos del hospital.
                            <br><br>
                            Se realizó un proyecto basado en 24 módulos individuales que fueron dispuestos de
                            forma tal que quede integrado un espacio en común, el cual mantenía el criterio de
                            trabajo que tenían en el lugar anterior. Al lado de esta gran estructura se dispusieron
                            unidades satélites donde se dispuso la dirección.
                            <br><br>
                            Por otro lado, se realizó una zona de módulos de doble altura destinada al archivo
                            de historias clínicas.
                        </p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/escuela-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/escuela-2.png" alt="">
                        <img class="photos" data-src="/static/img/photo/escuela-3.png" alt="">
                        <img class="photos" data-src="/static/img/photo/escuela-4.png" alt="">
                        <img class="photos" data-src="/static/img/photo/escuela-5.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>MÓDULOS ESCUELA</h3>
                        <p>Módulos Escolares y/o de Nivel Inicial fueron colocados en localidades como San Martín,
                            Palmira, Malargüe, Santa Rosa, San Rafael, Alvear, Tunuyán y Luján.
                            Los mismos son aulas de 6x6mts anexados a un módulo sanitario de 3x3mts, con cocina,
                            sanitario
                            docente y sanitarios pediátricos.</p>
                        <div class="link">
                            <p>NOTICIAS</p>
                            <span>
                                <a
                                    href="https://www.facebook.com/MartinKerchnerTomba/videos/2050364938367816/">1</a></span>
                        </div>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image"><img data-src="/static/img/sporitti-1.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>HOSPITAL SAPORITI</h3>
                        <p>La obra realizada en 2019, en el Hospital Carlos Saporiti, ubicado en Rivadavia,
                            Mendoza, consistió en la instalación de 10 módulos integrados, que formaron depósitos
                            grandes, medianos y chicos. Uno de ellos está equipado con kitchenette y un baño.
                            <br><br>
                            Los mismos servirán para albergar al Cuerpo de Voluntarias y depósito del
                            hospital.
                        </p>
                        <div class="link">
                            <p>NOTICIAS</p>
                            <span>
                                <a
                                    href="http://legioneste.com.ar/2019/09/13/se-inauguraron-los-nuevos-modulos-del-hospital-saporiti/">1</a></span>
                            <span><a
                                    href="https://www.mundosalud.com.ar/post/el-hospital-saporiti-cuenta-con-nuevas-instalaciones">2</a></span>
                        </div>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000">
                        <img class="photos" data-src="/static/img/photo/carillo1-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/carillo1-2.png" alt="">
                        <img class="photos" data-src="/static/img/photo/carillo1-3.png" alt="">
                        <img class="photos" data-src="/static/img/photo/carillo1-4.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>HOSPITAL CARRILLO</h3>
                        <p>En el Hospital Dr. Ramón Carrillo, ubicado en Las Heras, Mendoza, se realizó la
                            instalación de 4 módulos habitacionales de 6x6mts. Los cuales fueron divididos en 4
                            consultorios de atención médica/psicológica. <br><br>
                            Los mismos fueron conectados directamente al hospital, teniendo un acceso
                            directo y una salida de emergencia con rampa. También fueron equipados con aire
                            frío/calor.
                        </p>
                    </div>
                </div>

                <div class="cardProduct">
                    <div class="cardProduct-image cardSlide" data-cycle="3000"">
                        <img class=" photos" data-src="/static/img/photo/nidoCondores-1.png" alt="">
                        <img class="photos" data-src="/static/img/photo/nidoCondores-2.png" alt="">
                        <img class="photos" data-src="/static/img/photo/nidoCondores-3.png" alt="">
                    </div>
                    <div class="cardProduct-info">
                        <h3>PARQUE ACONCAGUA</h3>
                        <p>Se realizaron módulos habitacionales destinados a oficinas de guardaparque con aislaciones,
                            protecciones y aberturas necesarias para la zona donde fueron colocados.
                            Los mismos fueron ensamblados en el lugar que ocupan y transportados en helicoptero.
                            Se encuentran en las diferentes bases del Cerro Aconcagua: Plaza de Mulas, Plaza Argentina y
                            El durazno.
                            <br><br>
                        <h5> Nido De Cóndores</h5>
                        En la base Nido de cóndores ubicada a 5524mts de altura se ubicó un módulo especialmente
                        adaptado
                        para las extremas temperaturas. El diseño soporta vientos fuertes, enormes acumulaciones de
                        nieve y las fuertes tempestades. Su revestimiento continuo impide las filtraciones y la
                        construcción en gajos machihembrados lograron un rápido montaje.
                    </div>
                </div>


                <div class="cardProduct">
                    <div class="cardProduct-image"></div>
                    <div class="cardProduct-info">
                        <h3>LUJÁN PLAYA CARRIZAL</h3>
                        <p>Tres módulos sanitarios de 3x6mts fueron colocados en el balneario conocido como
                            “Luján Playa Carrizal”, cerca del cruce de las rutas 16 y 60. <br><br>
                            Se trata de 1 módulo destinado a sanitario femenino con 7 posiciones de inodoro,
                            1 módulo masculino con 4 inodoros y 3 mingitorios y por último un sanitario específico
                            para personas con discapacidades motrices.</p>
                    </div>
                </div>



            </div>
        </div>

        <div class="pagination">
            <li class="page-item previous-page disable"><a class="page-link" href="#">◄</a></li>
            <li class="page-item current-page active"><a class="page-link" href="#">1</a></li>
            <li class="page-item dots"><a class="page-link" href="#">...</a></li>
            <li class="page-item current-page"><a class="page-link" href="#">5</a></li>
            <li class="page-item current-page"><a class="page-link" href="#">6</a></li>
            <li class="page-item dots"><a class="page-link" href="#">...</a></li>
            <li class="page-item current-page"><a class="page-link" href="#">10</a></li>
            <li class="page-item next-page"><a class="page-link" href="#">►</a></li>
        </div>
    </main>
</body>

<footer fragment="footer">
    <div class="footer-item"><img data-src="/static/img/logoOblanco.png" alt=""></div>
    <div class="footer-item">Somos una empresa familiar con más de 15 años de experiencia en el rubro de la
        construcción. Nos especializamos en crear soluciones integrales, pensadas desde la arquitectura, la
        comodidad y el deseo del cliente.
        Trabajamos de manera responsable y personalizada para garantizar que cada proyecto supere las expectativas.
        Esperamos conocerte.</div>
    <div class="footer-item">
        <a class="" href="index.html">Inicio</a>
        <!--<a class="" href="inspirate.html">Inspirate</a>-->
        <a class="" href="productos.html">Productos</a>
        <!--<a class="" href="alquiler.html">Alquiler</a>-->
        <a class="" href="contactus.html">Contacto</a>
    </div>
    <div class="footer-item">
        <div class="redes">
            <div>
                <a href="https://www.facebook.com/Doncontainer19"><img data-src="/static/img/facebookWhite (2).png"
                        alt=""></a>
                <p>/Doncontainer19</p>
            </div>
            <div>
                <a href=""><img data-src="/static/img/instagramWhite (2).png" alt=""></a>
                <p>@DonContainer</p>
            </div>
            <div>
                <a href="tel: +5492615172544"><img data-src="/static/img/whatsappWhite (2).png" alt=""></a>
                <p> +549 261 5172544</p>
            </div>
            <div>
                <a href="mailto:doncontainer@gmail.com"><img data-src="/static/img/emailWhite (3).png" alt=""></a>
                <p>doncontainer@gmail.com</p>
            </div>
            <div>
                <a href=""><img data-src="/static/img/mapsWhite (3).png" alt=""></a>
                <p>Argentina, Mendoza, Ruta 16, Km 3,5 </p>
            </div>
        </div>
    </div>
    </div>
</footer>
<script src="/static/js/forAll.js"></script>
<script src="/static/js/pagination.js"></script>

</html>