<!DOCTYPE html>

<head>
    <title>Don Container</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="container, modulo, habitable, modulo-habitable, container-habitable, casa, mendoza, argentina, contenedor">
    <meta name="description"
        content="Empresa de Mendoza dedicada a la venta y alquiler de containers y módulos habitacionales. Cotice su proyecto.">
    <meta name="author" content="Don Container">

    <link rel="icon" href="/static/img/donContainer.ico">
    <link rel="stylesheet" href="/static/css/donEstilo.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-221852527-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-221852527-1');
    </script>
</head>

<header>

    <div id="logo">
        <a href="index.html"><img data-src="/static/img/donContainerLogo.png" alt="" class="width 60px"></a>

        <div id="hamburger" onclick="myMenuMobile()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav>
        <ul id="menuDesktop">
            <a class="botones" href="index.html">Inicio</a>
            <a class="botones" href="productos.html">Productos</a>
            <a class="subBotones" href="moduloHabitacional.html">Modulo Hab</a>
            <a class="subBotones" href="containerHabitacional.html">Container Hab</a>
            <!--<a class="botones" href="inspirate.html">Inspirate</a>-->
            <!--<a class="botones" href="alquiler.html">Alquiler</a>-->
            <a class="botones" href="contactus.html">Contacto</a>
        </ul>
        <ul id="menuPhone">
            <a class="botones" href="index.html">Inicio</a>
            <a class="botones" href="productos.html">Productos</a>
            <a class="subBotones" href="moduloHabitacional.html">Modulo Hab</a>
            <a class="subBotones" href="containerHabitacional.html">Container Hab</a>
            <!--<a class="botones" href="inspirate.html">Inspirate</a>-->
            <!--<a class="botones" href="alquiler.html">Alquiler</a>-->
            <a class="botones" href="contactus.html">Contacto</a>
        </ul>
    </nav>
</header>

<body>
    <main>
        <ul class="productos">
            <a href="containerHabitacional.html">
                <li class="producto"><img data-src="/static/img/photo/juninNaranja-1.png" alt="">
                    <!--SLIDES DE 3 IMAGENES CADA UNO-->
                    <div class="productoText">
                        <h3>Container Habitacional</h3>
                        <p class="bajada">
                            Estructura con base de container marítimo.
                            <br>
                            Aislación de polietileno 40mm y revestimiento mdf de 5,5.
                            <br>
                            Cielorraso desmontable.
                            <br>
                            Pisos vinílico o pintado o solados enmaderados.
                            <br>
                            Aberturas de aluminio.
                            <br>
                            Instalación eléctrica vista o embutida.
                        </p>
                    </div>
                </li>
            </a>

            <a href="moduloHabitacional.html">
                <li class="producto" id="productoSecond">
                    <img data-src="/static/img/photo/crucesita-1.png" alt="">
                    <div class="productoText">
                        <h3>Modulo Habitacional</h3>
                        <p class="bajada">
                            Unidad auto-portante.
                            <br>
                            Base exterior estándar de 3x6 o múltiplos y/o de acuerdo a su proyecto.
                            <br>
                            Compuestos por paneles sándwich de 60 mm de aislación de poliuretano.
                            <br>
                            Techadas en panel sándwich 50/80 poliuretano.
                            <br>
                            Pisos solados enmaderados.
                            <br>
                            Abertura de aluminio.
                            <br>
                            Con instalación eléctrica exterior o embutida.
                        </p>
                    </div>
                </li>
            </a>
            <li class="producto"><img data-src="/static/img/photo/containerMaritimo.png" alt="">
                <div class="productoText">
                    <h3>Container Maritimo</h3>
                    <p class="bajada">
                        Recipientes de carga de 20 o 40 pies de largo, estándar o HQ. Sin intervención.
                        <br>
                        Para uso de depósito o base para proyecto.
                        <br>
                        Reefer sin equipo o con equipos.
                    </p>
                </div>
            </li>

        </ul>
    </main>

    <footer fragment="footer">
        <div class="footer-item"><img data-src="/static/img/logoOblanco.png" alt=""></div>
        <div class="footer-item">Somos una empresa familiar con más de 15 años de experiencia en el rubro de la
            construcción. Nos especializamos en crear soluciones integrales, pensadas desde la arquitectura, la
            comodidad y el deseo del cliente.
            Trabajamos de manera responsable y personalizada para garantizar que cada proyecto supere las expectativas.
            Esperamos conocerte.</div>
        <div class="footer-item">
            <a class="" href="index.html">Inicio</a>
            <!--<a class="" href="inspirate.html">Inspirate</a>-->
            <a class="" href="productos.html">Productos</a>
            <!--<a class="" href="alquiler.html">Alquiler</a>-->
            <a class="" href="contactus.html">Contacto</a>
        </div>
        <div class="footer-item">
            <div class="redes">
                <div>
                    <a href="https://www.facebook.com/Doncontainer19"><img data-src="/static/img/facebookWhite (2).png"
                            alt=""></a>
                    <p>/Doncontainer19</p>
                </div>
                <div>
                    <a href=""><img data-src="/static/img/instagramWhite (2).png" alt=""></a>
                    <p>@DonContainer</p>
                </div>
                <div>
                    <a href="tel: +5492615172544"><img data-src="/static/img/whatsappWhite (2).png" alt=""></a>
                    <p> +549 261 5172544</p>
                </div>
                <div>
                    <a href="mailto:doncontainer@gmail.com"><img data-src="/static/img/emailWhite (3).png" alt=""></a>
                    <p>doncontainer@gmail.com</p>
                </div>
                <div>
                    <a href=""><img data-src="/static/img/mapsWhite (3).png" alt=""></a>
                    <p>Argentina, Mendoza, Ruta 16, Km 3,5 </p>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <script src="/static/js/forAll.js"></script>

    </html>