<footer th:fragment="footer">

    <div class="footer-item"><img src="/img/logoOblanco.png" alt=""></div>

    <div class="footer-item">Somos una empresa familiar con más de 15 años de experiencia en el rubro de la
        construcción. Nos especializamos en crear soluciones integrales, pensadas desde la arquitectura, la
        comodidad y el deseo del cliente.
        Trabajamos de manera responsable y personalizada para garantizar que cada proyecto supere las expectativas.
        Esperamos conocerte.</div>

    <div class="footer-item"> <a class="" th:href="@{/}">Inicio</a>
        <a class="" th:href="@{/inspirate}">Inspirate</a>
        <a class="" th:href="@{/productos}">Producto</a>
        <a class="" th:href="@{/alquiler}">Alquiler</a>
        <a class="" th:href="@{/contactus}">Contacto</a>
    </div>

    <div class="footer-item">
        <div class="redes">
            <div>
                <a href="https://www.facebook.com/Doncontainer19"><img src="/img/fb2.png" alt=""></a>
                <p>/Doncontainer19</p>
            </div>

            <div>
                <a href=""><img src="/img/ig-2.png" alt=""></a>
                <p>@DonContainer</p>
            </div>
            <div>
                <a href="tel: +5492615172544"><img src="/img/wapp2.png" alt=""></a>
                <p> +549 261 5172544</p>
            </div>
            <div>
                <a href="mailto:doncontainer@gmail.com"><img src="/img/gmail2.png" alt=""></a>
                <p>doncontainer@gmail.com</p>
            </div>
            <div>
                <a href=""><img src="/img/ubicacion2.png" alt=""></a>
            </div>
        </div>
    </div>
    </div>



</footer>