<header th:fragment="header">

    
        <div id="logo">
            <a th:href="@{/}"><img src="/img/donContainerLogo.png" alt="" class="width 60px"></a>
        </div>
    
    <nav>
        <ul>
            <a class="botones" th:href="@{/}">Inicio</a>
            <a class="botones" th:href="@{/inspirate}">Inspirate</a>
            <a class="botones" th:href="@{/productos}">Producto</a>
            <a class="botones" th:href="@{/alquiler}">Alquiler</a>
            <a class="botones" th:href="@{/contactus}">Contacto</a>
            
        </ul>
    </nav>
</header>