<!DOCTYPE html>

<html lang="es-AR" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head"></head>

<body>
    <header th:replace="/fragments/header :: header"></header>
    <main>
        <div th:if=${error} class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${error}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div th:if=${success} class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${success}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <h1>PARA CREAR Y REGRESA A ADMlISTAR</h1>


        <form th:action="@{/proyecto/create}" method="POST" enctype="multipart/form-data" th:object="${proyecto}">

            <input hidden th:field="*{id}">

            <label for="titulo">Titulo</label>

            <input type="text" class="form-control" name="titulo" th:value="*{titulo}">

            <label for="subtitulo">Subtitulo</label>
            <input type="text" class="form-control" name="subtitulo" th:value="*{subtitulo}">

            <label for="descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" th:value="*{descripcion}">

            <label for="detalle">Detalle</label>
            <input type="text" class="form-control" name="detalle" th:value="*{detalle}">

            <input type="text" class="form-control" th:field="*{titulo}">

            <label for="subtitulo">Subtitulo</label>
            <input type="text" class="form-control" th:field="*{subtitulo}">

            <label for="descripcion">Descripcion</label>
            <input type="text" class="form-control" th:field="*{descripcion}">

            <label for="detalle">Detalle</label>
            <input type="text" class="form-control" th:field="*{detalle}">

            <select class=" selectpicker scrollyou entrar" data-size="4" name="seccion">
                <option disabled selected>Seccion</option>
                <option th:each="seccion : ${T(com.Don.donContainer.enums.Seccion).values()}" th:value="${seccion}"
                    th:text="${seccion}" th:field="*{seccion}">
                </option>
            </select>
            <select class=" selectpicker scrollyou entrar" data-size="4" name="tipo">
                <option disabled selected>Tipo</option>
                <option th:each="tipo : ${T(com.Don.donContainer.enums.Tipo).values()}" th:value="${tipo}"
                    th:text="${tipo}" th:field="*{tipo}">
                </option>
            </select>
            <select class=" selectpicker scrollyou entrar" data-size="4" name="estilo">
                <option disabled selected>Estilo</option>
                <option th:each="estilo : ${T(com.Don.donContainer.enums.Estilo).values()}" th:value="${estilo}"
                    th:text="${estilo}" th:field="*{estilo}">
                </option>
            </select>
            <div>
                <p class=" selectpicker scrollyou entrar" data-size="4">Ingrese foto<input type="file" name="archivo"
                        th:value="${archivo}"></p>

            </div>


            <button type="submit" class="btn-dark px-5 py-2 ms-auto">Guardar</button>
        </form>
    </main>


        <footer th:replace="/fragments/footer :: footer"></footer>
        <script th:replace="/fragments/script :: script"></script>



</body>

</html>